<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll The Dice!</title>
    <link rel="stylesheet" href="roll.css">
    <style>
        /* .dice1, .dice2 {
            padding: 20px;
            font-size: 1.5em;
            margin-right: 20px;
            background: #eee
        } */
    </style>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="container">
        <h1 class="title">Place your bet:</h1>
        <div class="roll">
            <form action="/roll-the-dice" method="post">
                <input class="inputs" type="number" min="0" max=<%- amount %> name="amount" placeholder="Place your bet:" required>
                <input class="submit-button" type="submit" value="Roll The Dice!">
            </form>
            <div class="content">
                <p>Total:</p>
                <div class="dice3">
                    <p><%- amount %></p>
                </div>
            </div>
            <div class="container2">
                <div class="content">
                    <p class="text">You got:</p>
                    <div class="dice1">
                        <img id="<%- dice1 %>" class="img1" src="" alt="" style="height: 40px">
                    </div>
                </div>
                <div class="content">
                    <p class="text">You got:</p>    
                    <div class="dice2">
                        <img id="<%- dice2 %>" class="img2" src="" alt="" style="height:40px;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const image1 = document.getElementsByClassName("img1")[0];
        const image2 = document.getElementsByClassName("img2")[0];

        switch (image1.id) {
            case '1':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390015700684800/image.png"
                break;
        
            case '2':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390075494682635/image.png"
                break;
        
            case '3':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141384214193905684/image.png"
                break;
        
            case '4':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390036756078704/image.png"
                break;
        
            case '5':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141389933098049666/image.png"
                break;
        
            case '6':
                image1.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390058667114536/image.png"
                break;
        
            default:
                break;
        }

        switch (image2.id) {
            case '1':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390015700684800/image.png"
                break;
        
            case '2':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390075494682635/image.png"
                break;
        
            case '3':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141384214193905684/image.png"
                break;
        
            case '4':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390036756078704/image.png"
                break;
        
            case '5':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141389933098049666/image.png"
                break;
        
            case '6':
                image2.src = "https://cdn.discordapp.com/attachments/1080157954570993664/1141390058667114536/image.png"
                break;
        
            default:
                break;
        }

    </script>
</body>
</html>